.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  width: 100%;
  height: 15vh;
  background-color: #3ba96c;
  position: relative;
  display: flex;
  margin: 0 auto;
  justify-content: flex-end;
}

.profile {
  display: inline-flex;
  justify-content: center;
  width: auto;
  align-items: center;
  padding-right: 3vw;
}

.profile_img {
  border-radius: 50%;
  width: 5vw;
}

.map_div {
  width: 50vw;
  height: 20vh;
  justify-content: center;
  display:inline;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
